@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,500;1,700&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

/* reset.css */

/* Remove all margins and paddings */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Reset font styles and sizes */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  font-size: inherit;
  font-weight: inherit;
}

/* Reset list styles */
ol,
ul {
  list-style: none;
}

.accessible-text,
.screen-reader-text {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  top: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.container {
  width: min(1210px, 100%);
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  margin: 0 auto;
}

.hide-field {
  display: none;
}

@font-face {
  font-family: "Futura";
  src: url("./fonts/Futura\ Regular.woff") format("woff2"),
    url("./fonts/Futura\ Regular.woff2") format("woff");
}
@font-face {
  font-family: "Futura-Bold";
  src: url("./fonts/Futura\ Bold\ font.woff") format("woff2"),
    url("./fonts/Futura\ Bold\ font.woff2") format("woff");
}
@font-face {
  font-family: "Futura-Light";
  src: url("./fonts/Futura\ Light\ font.woff") format("woff2"),
    url("./fonts/Futura\ Light\ font.woff2") format("woff");
}
